@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap');
body {
    background-color: #DAD2BC;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
    background: none;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

.wrapper {
    display: flex;
    overflow: hidden;
}

.content {
    flex: 1 1 auto;
}

.header {
    padding: 25px 0 20px 0;
    font-family: 'Montserrat';
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 15px;
}

.header .container {
    display: flex;
    position: relative;
    z-index: 1;
}

.menu {}

.menu__items {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    letter-spacing: -0.04em;
    color: #000000;
}

.menu__item {
    margin-right: 50px;
    cursor: pointer;
}

.menu__item:last-child {
    margin-right: 0;
}

.sign-up {
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: -0.04em;
    color: #000000;
    background: none;
    height: 24px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-left: auto;
    padding: 20px;
    position: relative;
    bottom: 12px;
}

.main {
    padding-top: 10px;
}

.main__face .container {
    display: flex;
    position: relative;
    z-index: 1;
}

.title__face-image img {
    width: 540px;
    margin-top: 80px;
}

.main__face-text {
    margin-left: 59px;
    margin-top: 105px;
}

.main__face-title {
    max-width: 660px;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    color: #000000;
}

.main__face-subtitle {
    margin-top: 24px;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.04em;
    color: #000000;
    font-family: 'Montserrat';
}

.main__face-start {
    display: inline-block;
    margin-top: 60px;
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    background: none;
}

.main__face {
    position: relative;
}

.main__face-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    display: none;
}

.main__face-bg img {
    width: 100%;
}

.lightgreen {
    color: #B5C99A;
}

.add-to-list {
    background: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    border: 1px solid black;
    outline: none;
    padding: 10px;
    margin-top: 15px;
}

.sec-first {
    margin-top: 140px;
}

.sec-first-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    color: #000000;
    font-family: 'Playfair Display', sans-serif;
    max-width: 838px;
}

.sec-first-rows {
    margin-top: 40px;
}

.sec-first-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.sec-first-row-item {
    width: 220px;
    height: 140px;
    background: #A99985;
    display: flex;
}

.sec-first-row-item-text {
    max-width: 182px;
    max-height: 87px;
    margin: auto;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #ECECEC;
}

.sec-first-row-item:first-child {
    margin-left: 0;
}

.sec-first-row:last-child {
    margin-bottom: 0;
    margin-top: 0;
}

.sec-first-row:first-child .sec-first-row-item:first-child {
    border-radius: 40px 0px 0px 0px;
}

.sec-first-row:last-child .sec-first-row-item:last-child {
    border-radius: 0px 0px 40px 0px;
}

.sec-first-bottom {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 162px;
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
}

.sec-second {
    margin-top: 172px;
    width: 100%;
    height: 160px;
    background: #87986A;
}

.sec-second .container {
    display: flex;
    padding-top: 51px;
}

.sec-second-left {
    font-family: 'Montserrat';
    max-width: 840px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #EEEEEE;
}

.sec-second-right {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #EEEEEE;
    border: 1px solid white;
    padding: 12px 20px;
    margin-left: 41px;
    background: none;
    width: 300px;
}

.sec-third {
    position: relative;
}

.sec-third .container {
    display: flex;
    position: relative;
}

.sec-third-left {
    margin-top: 155px;
    position: relative;
    z-index: 1;
}

.sec-third .main__face-title {
    width: 660px;
    font-family: 'Playfair Display', sans-serif;
}

.benefits {
    margin-top: 60px;
}

.benefit {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 36px;
    max-width: 540px;
    padding-left: 80px;
}

.benefit::before {
    content: url('./img/star.png');
    position: absolute;
    left: 0px;
}

.benefit:first-child::before {
    margin-top: 10px;
}

.benefit:nth-child(2)::before {
    margin-top: -4px;
}

.benefit:last-child::before {
    margin-top: -3px;
}

.sec-third-right {
    margin-top: 80px;
    object-fit: cover;
}

.sign-up:hover,
.add-to-list:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.sec-second-right:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.sec-fourth {}

.sec-fourth-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    line-height: 56px;
    color: #000000;
    margin-top: 140px;
    margin-bottom: 40px;
}

.sec-fourth-items {
    display: flex;
    justify-content: space-between;
}

.sec-fourth-item {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    width: 260px;
    height: 311px;
}

.sec-fourth-item-title {
    margin-top: 30px;
    margin-bottom: 24px;
    font-family: 'Montserrat';
    font-size: 30px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}

.sec-fourth-item-text {
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-left: 20px;
    width: 220px;
    padding-right: 40px;
}

.sec-fifth {
    margin-top: 200px;
    padding-bottom: 142px;
}

.sec-fifth-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #000000;
}

.sec-fifth-sub {
    display: flex;
    margin-top: 42px;
}

.sec-fifth-sub-new {
    font-family: 'Playfair Display', sans-serif;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #87986A;
    margin-right: 48px;
    margin-top: 15px;
}

.sec-fifth-sub-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    max-width: 603px;
    position: relative;
    z-index: 1;
}

.sec-fifth-programms {
    display: flex;
    flex-wrap: wrap;
    margin-top: 76px;
}

.sec-fifth-programm {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-right: 32px;
    margin-bottom: 15px;
    height: 40px;
    padding-top: 18px;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.sec-fifth-programm:hover {
    background: linear-gradient(0deg, #87986A -12.5%, rgba(135, 152, 106, 0) 85.83%);
}

.module-3 {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.module-3-left {}

.module-3-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 34px;
    line-height: 48px;
    color: #000000;
}

.module-3-sub {
    font-family: 'Montserrat';
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #000000;
}

.module-3-offers {
    margin-top: 48px;
    font-family: 'Montserrat';
    font-size: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    line-height: 29px;
}

.module-3-offer {
    margin-bottom: 20px;
    width: 560px;
}

.module-3-right {
    margin-top: 48px;
    width: 460px;
    height: 253px;
    border: 1px solid #87986A;
    box-sizing: border-box;
    border-radius: 15px;
    padding-left: 40px;
    padding-top: 50px;
}

.module-3-right-title {
    font-family: 'Montserrat';
    font-size: 28px;
    letter-spacing: -0.04em;
    color: #000000;
}

.module-3-right-sub {
    font-family: 'Montserrat';
    font-size: 20px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-top: 16px;
}

.gift {
    text-align: center;
    margin-top: 165px;
}

.gift-text {
    display: block;
    font-family: 'Montserrat';
    font-size: 24px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 4px;
}

.gift-text:nth-child(2) {
    font-size: 44px;
}

.sec-sixth {
    background: linear-gradient(179.71deg, #A99985 0.25%, rgba(169, 153, 133, 0.85) 39.12%, rgba(169, 153, 133, 0) 99.75%);
}

.sec-sixth-title {
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #ECECEC;
    margin-bottom: 52px;
    padding-top: 90px;
}

.list-of-skills {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
}

.list-of-skills-left {}

.sec-sixth li {
    list-style: disc;
}

.sec-sixth li::marker {
    color: #B5C99A;
}

.skill {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #EEEEEE;
    margin-bottom: 28px;
    width: 469px;
}

.list-of-skills-right {}

.about-author {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.about-author-left {}

.about-author-right {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
    width: 560px;
}

.about-author-right img {
    margin: 50px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sec-sixth button {
    margin-top: 132px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sec-seventh {
    margin-top: 150px;
    position: relative;
}

.sec-seventh-art {
    display: flex;
    justify-content: space-between;
}

.sec-seventh-left {}

.sec-seventh-left-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    color: #000000;
    margin-bottom: 40px;
    margin-top: 130px;
}

.sec-seventh-left-text {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
    max-width: 551px;
}

.sec-seventh-right {}

.regist {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.regist__title {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 47px;
    width: 640px;
    height: 87px;
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 100%;
}

input {
    display: block;
    margin-bottom: 20px;
    background: none;
}

input::placeholder {
    font-family: 'Montserrat';
    font-size: 16px;
    letter-spacing: -0.04em;
}

input[type="text"],
input[type="tel"] {
    font-family: 'Montserrat';
    font-size: 16px;
    letter-spacing: -0.04em;
    padding-left: 20px;
}

#checkbox+label {
    background: none;
}

.name {
    width: 360px;
    height: 48px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.number {
    width: 360px;
    height: 48px;
    border: 1px solid #000000;
    box-sizing: border-box;
}

#checkbox {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 6px;
    width: 24px;
    height: 24px;
    display: inline;
    background-color: #A99985;
    position: relative;
    top: -10px;
}

.form .add-to-list {
    width: 360px;
}

.check {
    display: inline-block;
    width: 319px;
    height: 44px;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #000000;
    position: relative;
    top: 3px;
}

.regist__text-bottom {
    max-width: 382px;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

.regist__hr {
    border: 1px solid #000000;
    margin-top: 70px;
    width: 560.02px;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    padding-top: 38px;
    padding-bottom: 55px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer__left {}

.footer__left-contacts {}

.footer__left-contacts-title {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 19px;
}

.footer__left-contacts-number {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
}

.footer__left-contacts-mail {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.04em;
    color: #000000;
}

.footer__right {}

.footer__right-media {}

.footer__right-media-title {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #000000;
    margin-bottom: 12px;
}

.footer__right-media-icons {
    margin-left: -10px;
}

.dark {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: calc(7px + (1145.5 - 7) * (100vw / 1020));
    object-fit: cover;
    top: 0;
    left: 0;
    position: absolute;
}

.sec-third-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.sec-third-bg img {
    width: 100%;
}

.carousel {
    display: none;
}

#slick {
    display: flex;
}

.carousel__item {
    max-width: 102px;
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #000000;
}

.arrows {
    display: flex;
}

.arrow__left {
    margin-right: 30px;
}

.arrow__right {}

.reg-bg {
    background: #B5C99A;
    height: 517px;
    width: 100%;
    margin-top: -550px;
    display: none;
}

.footer__right-media-icons img {
    transition: all 0.3s ease-in-out 0s;
}

.footer__right-media-icons img:hover {
    transform: scale(0.9);
}

.footer__right-media-icons img:active {
    transform: scale(0.8);
}

@media (max-width: 1294px) {
    .sec-third-right img {
        max-width: calc(375px + (564 - 375) * (100vw / 1190));
        max-height: calc(300px + 364 * (100vw / 1190));
    }
}

@media (max-width: 1210px) {
    .main__face-title {
        max-width: 560px;
        font-size: calc(22px + 18 * (100vw / 1190));
        line-height: calc(21px + (56 - 21) * (100vw / 1190));
    }
    .menu__items {
        font-size: calc(14px + 6 * (100vw / 1190));
    }
    .main__face-subtitle {
        font-size: calc(18px + 8 * (100vw / 1190));
        margin-top: calc(13px + 11 * (100vw / 1190));
    }
    .main__face-start,
    .add-to-list {
        font-size: calc(16px + 4 * (100vw / 1190));
    }
    .main__face-start {
        margin-top: calc(30px + 30 * (100vw / 1190));
    }
    .main__face-text {
        margin-top: calc(5px + 100 * (100vw / 1190));
    }
    .sec-first-title {
        max-width: calc(346px + (838 - 346) * (100vw / 1190));
        text-align: center;
        font-size: calc(24px + 8 * (100vw / 1190));
        line-height: calc(34px + 11 * (100vw / 1190));
    }
    .sec-first-row-item {
        width: calc(140px + 60 * (100vw / 1190));
        max-height: calc(83px + (140 - 83) * (100vw / 1190));
    }
    .sec-first-bottom {
        margin-top: calc(82px + 80 * (100vw / 1190));
        max-width: calc(340px + 500 * (100vw / 1190));
        font-size: calc(17px + 7 * (100vw / 1190));
    }
    .sec-second-left {
        font-size: calc(16px + 8 * (100vw / 1190));
    }
    .sec-second-right {
        font-size: calc(14px + 6 * (100vw / 1190));
    }
    .sec-second .container {
        padding-top: 35px;
    }
    .sec-fourth-title {
        font-size: calc(24px + 16 * (100vw / 1190));
    }
    .sec-third-left {
        margin-top: calc(80px + 75 * (100vw / 1190));
    }
    .benefit {
        font-size: calc(24px + 8 * (100vw / 1190));
    }
    .sec-fourth-item-title {
        font-size: calc(22px + 8 * (100vw / 1190));
    }
    .sec-fourth-item-text {
        font-size: calc(18px + 2 * (100vw / 1190));
    }
    .sec-fifth-title {
        font-size: calc(24px + 8 * (100vw / 1190));
    }
    .sec-fifth-sub-text {
        font-size: calc(18px + 2 * (100vw / 1190));
        max-width: calc(260px + (603 - 260) * (100vw / 1190));
    }
    .module-3-title {
        font-size: calc(22px + 8 * (100vw / 1190));
    }
    .module-3-sub {
        font-size: calc(14px + 6 * (100vw / 1190));
    }
    .module-3-offers {
        font-size: calc(18px + 6 * (100vw / 1190));
    }
    .module-3-right-title {
        font-size: calc(22px + 6 * (100vw / 1190));
    }
    .module-3-right-sub {
        font-size: calc(16 + 4 * (100vw / 1190));
    }
    .gift-text {
        font-size: calc(20px + 4 * (100vw / 1190));
    }
    .sec-sixth-title {
        font-size: calc(24px + 16 * (100vw / 1190));
    }
    .list-of-skills {
        font-size: calc(16px + 8 * (100vw / 1190));
    }
    .about-author-left {
        text-align: center;
    }
    .about-author-right {
        font-size: calc(18px + 8 * (100vw / 1190));
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .about-author-left img {
        width: calc(250px + 310 * (100vw / 1190));
    }
    .sec-seventh-left-title {
        font-size: calc(24px + 16 * (100vw / 1190));
    }
    .sec-seventh-left-text {
        font-size: calc(16px + 8 * (100vw / 1190));
    }
    .sec-seventh-right img {
        width: calc(375px + (540 - 375) * (100vw / 1190));
    }
    .regist__title {
        font-size: calc(20px + 4 * (100vw / 1190));
        width: calc(340px + 300 * (100vw / 1190));
        max-width: 100%;
    }
    .name,
    .number,
    .add-to-list {
        max-width: 100%;
    }
    .check,
    .regist__text-bottom {
        font-size: calc(14px + 4 * (100vw / 1190));
    }
}

@media (max-width: 1194px) {
    .container {
        max-width: 1100px;
    }
    .main__face-title {
        max-width: 540px;
    }
    .sec-seventh-left-text {
        width: 500px;
    }
    .about-author-right {
        padding-left: 30px;
        margin-top: -50px;
    }
    .sec-third-right {
        margin-left: 10px;
        margin-top: 100px;
    }
}

@media (max-width: 1148px) {
    .sec-seventh-art {
        display: block;
    }
    .sec-seventh-left-text {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .sec-seventh-left-title {
        text-align: center;
    }
    .sec-seventh-right img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 60px;
    }
}

@media (max-width: 1110px) {
    .container {
        max-width: 1000px;
    }
    .main__face-text {
        margin-left: 20px;
    }
    .sec-fourth-items {
        display: block;
    }
    .sec-fourth-item {
        margin-bottom: 20px;
        width: 100%;
    }
    .sec-fourth-item-text {
        width: 100%;
    }
    .sec-third-right {
        margin-top: 140px;
    }
    .module-3 {
        display: block;
    }
    .module-3-right {
        border: none;
        padding-left: 0;
    }
    .list-of-skills {
        display: block;
    }
    .list-of-skills-left li,
    .list-of-skills-right li {
        margin-left: auto;
        margin-right: auto;
    }
    .sec-sixth-title {
        text-align: center;
    }
    .about-author {
        display: block;
    }
    .about-author-right {
        margin-top: 36px;
        padding-left: 0;
    }
}

@media (max-width: 1036px) {
    .container {
        max-width: 910px;
    }
    .sec-third-right {
        margin-left: 0px;
    }
}

@media (max-width: 1020px) {
    .container {
        max-width: 870px;
    }
    .sign-up {
        display: none;
    }
    .main__face-title {
        max-width: 700px;
    }
    .sec-third .main__face-title {
        max-width: 540px;
    }
    .main__face-bg {
        display: block;
    }
    .title__face-image {
        display: none;
    }
    .menu {
        width: 100%;
    }
    .menu__items {
        justify-content: space-between;
    }
    .main__face-text {
        margin-left: 0;
        padding-left: 0;
    }
    .main__face-text {}
    .main__face-text h1,
    .main__face-text p,
    .main__face-text span,
    .main__face-text button {
        color: #ECECEC;
    }
    .main__face-text button {
        border: 1px solid white;
    }
    .sec-first {
        margin-top: 630px;
    }
    .sec-third-right {
        margin-left: 0;
    }
    .sec-third .container {
        flex-direction: column;
    }
    .sec-third-right {
        display: none;
    }
    .sec-third-bg {
        display: block;
        margin-top: 40px;
    }
    .sec-fourth-title {
        text-align: center;
    }
}

@media (max-width: 965px) {
    .sec-first {
        margin-top: 570px;
    }
    .sec-fourth-item-text {
        text-align: center;
    }
}

@media (max-width: 865px) {
    .container {
        max-width: 750px;
    }
    .sec-first {
        margin-top: 480px;
    }
    .sec-first-row {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .sec-first-row-item {
        margin-bottom: calc(20px + 23 * (100vw / 1190));
        margin-right: calc(20px + 23 * (100vw / 1190));
    }
    .sec-first-row-item-text {
        font-size: calc(16px + 8 * (100vw / 1190));
    }
    .sec-first-rows {
        display: flex;
        justify-content: center;
    }
    .sec-second .container {
        padding-top: 25px;
    }
}

@media (max-width: 756px) {
    .container {
        max-width: 640px;
    }
    .sec-first {
        margin-top: 390px;
    }
    .sec-second .container {
        flex-direction: column;
    }
    .sec-second {
        height: 245px;
    }
    .sec-second-left,
    .sec-second-right {
        width: 340px;
        margin: auto;
    }
    .sec-second-right {
        margin-top: 15px;
    }
    .sec-fifth-sub {
        flex-direction: column;
    }
    .sec-fifth-sub-new {
        color: rgba(135, 152, 106, 0.25);
        position: relative;
        z-index: 0;
        top: 60px;
        font-size: 90px;
        margin-left: auto;
        margin-right: auto;
    }
    .sec-fifth-sub-text {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .module-3-offer,
    .module-3-right-sub {
        max-width: 450px;
    }
    .reg-bg {
        display: block;
    }
    .regist__hr {
        display: none;
    }
    .reg-bg {
        margin-top: -490px;
    }
}

@media (max-width: 644px) {
    .container {
        max-width: 530px;
    }
    .sec-first {
        margin-top: 300px;
    }
    .sec-third .main__face-title {
        max-width: 440px;
    }
    .skill {
        max-width: 400px;
    }
    .about-author-right {
        max-width: 440px;
    }
}

@media (max-width: 544px) {
    .container {
        max-width: 440px;
    }
    .sec-first {
        margin-top: 190px;
    }
    .footer .container {
        display: block;
    }
    .footer__right-media {
        margin-top: 28px;
    }
    .sec-first-rows {
        justify-content: space-between;
    }
    .sec-third .main__face-title {
        max-width: 400px;
    }
    .sec-seventh-left-text {
        width: 440px;
    }
    .sec-seventh-right img {
        width: 100%;
    }
}

@media (max-width: 519px) {
    .about-author-right {
        max-width: 350px;
    }
    .sec-seventh-left-text {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .container {
        max-width: 380px;
    }
    .sec-first {
        margin-top: 90px;
    }
    .sec-third .main__face-title {
        max-width: 350px;
    }
    .sec-fifth-sub-new {
        top: 80px;
    }
    .module-3-offer,
    .module-3-right-sub {
        max-width: 350px;
    }
    .skill {
        max-width: 300px;
    }
    .sec-seventh-left-text {
        width: 350px;
    }
}

@media (max-width: 380px) {
    .sec-first {
        margin-top: 60px;
    }
    .sec-second-left,
    .sec-second-right {
        width: 230px;
    }
    .sec-second-right {
        padding: 5px 10px;
    }
    .sec-second {
        height: 280px;
    }
}